<% @tasks.each do |task|%>
  <div class="index_row clearfix">
    <h2 class="todo_list_wrapper">
      <%= task.name %>
      <div id="form">
        <%= render 'partial'%>
      </div>
    </h2>
  </div>
<% end %>
<div class="links">
  <%= link_to 'New Task', new_task_path %>
</div>
